* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.video__container {
  position: relative;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video__container:before {
  position: absolute;
  content: 'Stroke Order';
  top: -10%;
  width: 100%;
  text-align: center;
}

.video__container video {
  width: 100%;
  height: 85%;
}

.video__container .settings {
  width: 100%;
  height: 15%;
  background: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__container .settings p {
  color: #a0a0a0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.video__container .settings .spdselect {
  color: #00d3d3;
}

.video__container .settings img {
  height: 65%;
  -o-object-fit: contain;
     object-fit: contain;
}

.kanji__container {
  position: relative;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.kanji {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kanji p {
  position: relative;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.kanji p:not(.lastchild) {
  border-right: none;
}

.kanji p:first-child {
  cursor: pointer;
}

.kanji p:first-child:hover {
  background: rgba(70, 131, 180, 0.25);
}

.kanji:first-child {
  background: steelblue !important;
}

.kanji:nth-child(2n+1) {
  background: lightgrey;
}

.kanji .none {
  content: 'noo';
  background: #363636;
}

.legend {
  color: white;
}

.legend p {
  cursor: default !important;
  border-top: 1px solid black;
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 20px;
  z-index: 100;
  background: #363636;
  border-radius: 50%;
  overflow: hidden;
}

.loader p {
  color: darkslategrey;
  letter-spacing: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loader .overflower {
  position: absolute;
  border-radius: 50%;
  z-index: 105;
  background: white;
}

.loader .overflower {
  height: 150px;
  width: 150px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.loader .spinner {
  position: absolute;
  border-radius: 50%;
  z-index: 105;
  width: 150px;
  height: 150px;
  z-index: 102;
  border: 30px solid steelblue;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spinAnim 1s infinite linear;
          animation: spinAnim 1s infinite linear;
}

@-webkit-keyframes spinAnim {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinAnim {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=index.css.map */